:root {
	--main-text: "Roboto", sans-serif;
	--secondary-text: "Roboto Mono", monospace;
}

body {
	font-family: var(--main-text);
	margin: 0px;
}

header {
	background-color: #1f2937;
	color: #f9faf8;
	padding: 0px 5px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	margin: 5px;
}

.nav li {
	list-style: none;
	color: #e5e7eb;
	padding: 0px 5px;
}

.nav a {
	color: #e5e7eb;
	text-decoration: none;
}

.nav h4 {
	font-size: 24px;
	margin: 5px;
}

.header-content {
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin: 20px;
	padding: 50px;
}

img {
	width: 500px;
	height: 275px;
}

button {
	background-color: #3882f6;
	color: #e5e7eb;
	border-radius: 5px;
	padding: 5px 20px;
	border: none;
	font-weight: 600;
}

main {
	display: flex;
	flex-direction: column;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-content h3 {
	font-weight: 900;
}

.image-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	padding: 10px;
}

.image-div {
	height: 100px;
	width: 140px;
}

.image-placeholder {
	border: 1px #3882f6 solid;
	border-radius: 5px;
	height: 120px;
	width: 140px;
}
